{% extends 'generic/object.html' %}
{% load helpers %}

{% block content %}
<div class="row">
    <div class="col col-md-6">
        <div class="card">
            <h5 class="card-header">Outage Details</h5>
            <div class="card-body">
                <table class="table table-hover attr-table">
                    <tr>
                        <th scope="row">Event ID</th>
                        <td>{{ object.name }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Provider</th>
                        <td>{{ object.provider|linkify }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Status</th>
                        <td>{% badge object.get_status_display bg_color=object.get_status_color %}</td>
                    </tr>
                    <tr>
                        <th scope="row">Summary</th>
                        <td>{{ object.summary }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Start</th>
                        <td>{{ object.start|annotated_date }}</td>
                    </tr>
                    <tr>
                        <th scope="row">End</th>
                        <td>
                            {% if object.end %}
                                {{ object.end|annotated_date }}
                            {% else %}
                                <span class="text-muted">Not yet resolved</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Estimated Time to Repair</th>
                        <td>
                            {% if object.estimated_time_to_repair %}
                                {{ object.estimated_time_to_repair|annotated_date }}
                            {% else %}
                                <span class="text-muted">No estimate provided</span>
                            {% endif %}
                        </td>
                    </tr>
                    {% if object.original_timezone %}
                    <tr>
                        <th scope="row">Original Timezone</th>
                        <td>{{ object.original_timezone }}</td>
                    </tr>
                    {% endif %}
                    <tr>
                        <th scope="row">Internal Ticket</th>
                        <td>{{ object.internal_ticket|placeholder }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Acknowledged</th>
                        <td>{% checkmark object.acknowledged %}</td>
                    </tr>
                </table>
            </div>
        </div>
        {% include 'inc/panels/custom_fields.html' %}
    </div>
    <div class="col col-md-6">
        {% include 'inc/panels/tags.html' %}
        {% include 'inc/panels/comments.html' %}
    </div>
</div>
{% endblock content %}
